@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* Intrusment Serif */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 100;
    font-style: normal;
    /* border: 5px solid yellow; */
}

#site-title {
  
    font-family: "Instrument Serif";
    font-size: 5.5em;
    font-weight: 400;
    margin: 0;
    /* color: #d4a373; */
    color: 			#f7f0ff;
    font-synthesis: none;
    text-decoration: none;
}

#nav-button-container {
    display: flex;
    justify-content: space-around;
}

#nav-buttons{
    width: 50%;
    display: flex;
    font-weight: 400;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 1.3em;
    font-family: "Merriweather", serif;
}

#nav-buttons a {
    color: 	#f7f0ff;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    transition: color 0.2s;
}

.nav-buttons {
background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 2.2rem;
	margin: 1rem;
	min-width: 200px;
	padding: .5rem;
	text-transform: uppercase;
	width: auto;
}





#nav-buttons a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 2px;
    background: #d4a373;
    transition: width 0.3s cubic-bezier(0.4,0,0.2,1);
}

#nav-buttons a:hover::after,
#nav-buttons a:focus::after {
    width: 100%;
}

/* #navbar-line{
    width: 65%;
    height: 3px;
    background-color: #d4a373;
    border: 1px solid #d4a373;
    margin-left: 1%; 

} */


/* Mobile styles (base - already exists) */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }
  
  #site-title {
    font-size: 3.5em; /* smaller on mobile */
  }
  
  #nav-buttons {
    width: 80%;
    font-size: 1.1em;
  }
  
  #navbar-line {
    width: 90%;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  #site-title {
    font-size: 4.5em;
  }
  
  #nav-buttons {
    font-size: 1.2em;
  }
}