.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 800px;
}

/* .about-content__header h1 {
  font-size: 1.5rem;
  font-weight: 700;
} */

.about-content__arrow-btn {
  cursor: pointer;
  margin-top: 1rem;
  width: 60px;
  height: 100px;
  border-radius: 50%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;

}

.about-content__arrow-btn img {
  width: 80px;
  height: 50px;
  filter: invert(1);
}