.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  margin: 0 auto;
  color: #333333;
  /* border: 1px solid black; */
  text-align: center;
  height: 70vh; 
  overflow: hidden; 
}

.about-page h1 {
  font-size: 1.5 rem;
  font-weight: 700;
}


@media (max-width: 768px) {
  .about-page{
    height: auto;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .about-page {
    padding: 1.5rem;
    gap: 1.2rem;
    height: 75vh; /* slightly taller than mobile but less than desktop */
  }
  
  .about-page h1 {
    font-size: 1.8rem; /* scale between mobile and desktop */
  }
}