.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 800px;
}

/* .about-content__header h1 {
  font-size: 1.5rem;
  font-weight: 700;
} */


.about-content__text {
  margin: 0px;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 700px;
}


.about-content__arrow-btn {
  cursor: pointer;
  margin-bottom: 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Override the button padding */
}

.about-content__arrow-btn img {
  height: 40px;
  filter: invert(1);
}