.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  margin: 0 auto;
  color: #333;
  /* border: 1px solid black; */
  text-align: center;
  height: 70vh; 
  overflow: hidden; 
}

.about-page h1 {
  font-size: 1.5 rem;
  font-weight: 700;
}


