.certificates {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   max-width: 800px;
   margin: 0 auto;
   /* border: 1px solid #ccc; */
}

.certificates__header h2 {
 font-size: 1.5rem;
 font-weight: 700;
 margin-bottom: 1.5rem;
}

.certificates__content ul {
 padding-left: 10px;
 text-align: left;
}

.certificates__content li {
 font-size: 1rem;
 line-height: 1.6;
}

.certificates__back-btn {
 width: 60px;
 height: 100px;
 border-radius: 50%;
 background: black;
 border: 3px solid white;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 margin-bottom: 1.5rem;
}

.certificates__back-btn img {
 width: 80px;
 height: 50px;
 filter: invert(1);
}