@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body {
    width: 100vw;
    height: 100vh;
    font-family: "Merriweather", serif;
   
}

.main-component {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 8px solid yellow; */
}

#home-component {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}




