body {
    width: 100vw;
    height: 100vh;
    background-color: #eed9c4 ;
}

.main-component {

    border: 10px black solid;
    width: 98vw;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
