/* 
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(
    to bottom,
    #fff9c4, 
    #fff59d, 
    #ffecb3, 
    #ffe082  
      );
    text-align: center;
    width: 100vw; 
    font-family: "Montserrat", serif;
  }
  
  
  h1 {
    font-size: 10rem; 
    font-weight: bold;
    margin: 0;
    text-shadow: 5px 5px 5px rgba(246, 6, 6, 0.3);
    color:  #5D9980;
  }
  
  h1 span {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  h1 span:hover {
    transform: translateY(-10px); 
    color: #0073e6; 
  }
  
button {
    margin-top: 10px;
    padding: 5px;
    font-size: 1.5em;
    width: 180px;
    height: 70px;
    border: 4px solid  black;
    border-radius: 15px;
    background-color: #17546E;
    box-shadow: 4px 6px 0px black;
    cursor: pointer;
    font-weight: 600;
    transition: border-color 0.3s ease; 
}

button:hover {
    border-color: #007bff; 
    background-color: #13465b;
} */