main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(
    to bottom,
    #fff9c4, /* Light, sunny yellow */
    #fff59d, /* Slightly warmer yellow */
    #ffecb3, /* Soft orange-yellow */
    #ffe082  /* Muted orange */
      );
    text-align: center;
    width: 100vw; /* Ensure the main element takes up the full width of the page */
  }
  
  
  h1 {
    font-size: 10rem; /* Adjust the size as needed */
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* Add a shadow to make it more dynamic */
    color:  #5D9980;
  }
  
  h1 span {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  h1 span:hover {
    transform: translateY(-10px); /* Adjust the lift effect */
    color: #0073e6; /* Change color on hover */
  }
  
button {
    margin-top: 10px;
    width: 180px;
    height: 50px;
    border: 4px solid  #69aaee;
    border-radius: 15px;
    background-color: #17546E;
}